<div class="homeContainer">
  <div class="heading"><span class="headingtext">EasyBudget</span></div>
  <div class="tagLine"><span class="tagLineText">Simplifying Your Financial Journey</span></div>
  <div class="loginsignup">
    <div class="login">
      <span class="loginText">Click below to login into your Account</span>
      <button class="loginbtn" (click)="onClick('login')">Login</button>
    </div>
    <div class="login">
      <span class="loginText">New User? Please signup below</span>
      <button class="loginbtn" (click)="onClick('signup')">Signup</button>
    </div>
  </div>
</div>